<li id="comment_<%= comment.id %>">
  <%= comment.content %>,
  <%= time_ago_in_words(comment.created_at) %> ago
  <%= comment.user.name %>
  <%= link_to "x", event_comment_path(comment.event, comment),remote: true, method: :delete, data: {confirm: "Are you sure?" }, class: 'btn btn-default'%>
</li>