<% comment = @event.comments.new %>
<div id="comments_form_<%=@event.id%>">
<%= simple_form_for([@event, comment], remote: true ) do | f | %>
  <div class='form-inputs'>
    <%= f.input :content, label: false, placeholder: 'Add a comment.',  input_html: { rows: 5 } %>
  </div>
  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
<% end %>
</div>
