<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content, input_html: { rows: 10 } %>
    <%= f.input :picture, as: :file %>
    <%= f.hidden_field :picture_cache %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>