<%= link_to "사진추가", new_event_path %>

<h2>Farmlog 목록</h2>

<table class="table">
  <thead>
    <tr>
      <th>이름</th>
      <th>사진</th>
      <th>내용</th>
      <th colspan = "4"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to image_tag(event.picture), event %></td>  
      </tr>
    <% end %>
  </tbody>
</table>


